html {
	background-color: #FFFFFF;
	width:100%;
	height:100%;
}
body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica";
}
table,th,td {
	border: 1px solid black;
    border-collapse: collapse;
}




.heading {
	width: 100%;
	text-align: center;
	font-family: "verdana";
	font-size: 50px;
	height: 100px;
	line-height: 100px;
}






.bigBox {
	background-color: #aaaaaa;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 0px 10px;
	line-height: 30px;
}
.errorBox {
	width: 70%;
	height: 30px;
	color: #d80000;
	background-color: #efefef;
	font-weight: bold;
	display: inline-block;
	overflow: scroll;
	overflow-x: hidden;
}
.ControlBox {
	width: 30%;
	min-width: 200px;
	height: 30px;
	float: right;
	background-color: #c2c2c2;
	display: inline-block;
	text-align: right;
}
.clk {
	text-align: center;
	display: inline-block;
	height: 20px;
}
.clkBtn {
	text-align: center;
	display: inline-block;
	color: white;
	background-color: black;
	width: 50px;

}
.clkBtn:hover {
	background-color: red;
	cursor: pointer;
}
.createBtn {

	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: black;
	color: white;
}
.createBtn:hover {
	background-color: red;
	cursor: pointer;
}








.leftPane {
	width: 50%;
	height: 100%;
	display: inline-block;
	background-color: #f4f4f4;
	vertical-align: top;
	overflow: scroll;
	overflow-x: hidden;
}
.instructInputContainer {
	margin: 5px 50px 5px 50px;
	height: 100px;
}
.InstructStatusContainer {
	margin: 25px 50px 5px 50px;
}
.InstructStatusTable{
	margin: 0;
	width: 100%;
	text-align: center;
}










.rightPane {
	width: 50%;
	height: 100%;
	display: inline-block;
	background-color: #e2e2e2;
	vertical-align: top;
	overflow: scroll;
	overflow-x: hidden;
}
.tableContainer {
	margin: 5px 50px 5px 50px;
}
.hardwareTable {
	margin: 0;
	width: 100%;
	text-align: center;
}
.FUStatusContainer {
	margin: 5px 50px 5px 50px;
}
.FUStatusTable {
	margin: 0;
	width: 100%;
	text-align: center;
}
.RegResultStatusContainer {
	margin: 5px 50px 5px 50px;
}
.RegResultStatusTable {
	margin: 0;
	width: 100%;
	text-align: center;
}



